.gitattributes text eol=lf
.github/workflows/*.yml text eol=lf
**/Makefile text eol=lf
luci-app-fakesip/htdocs/luci-static/resources/view/fakesip.js text eol=lf
net/fakesip/files/etc/init.d/* text eol=lf
net/fakesip/files/etc/uci-defaults/* text eol=lf
net/fakesip/files/usr/libexec/* text eol=lf
net/fakesip/files/usr/libexec/fakesip-update text eol=lf
net/fakesip/files/usr/share/fakesip/*.sh text eol=lf
